<div class="services__appoinment">
    <div class="services__title">
        <h4><img src="img/icons/services-icon.png" alt=""> {{ressourceName}}</h4>
    </div>
    {# <form action="#">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <div class="datepicker__item">
            <input type="text" placeholder="Date" class="datepicker">
            <i class="fa fa-calendar"></i>
        </div>
        <select>
            <option value="">Type of service</option>
            <option value="">Advanced equipment</option>
            <option value="">Qualified doctors</option>
            <option value="">Certified services</option>
            <option value="">Emergency care</option>
        </select>
        <button type="submit" class="site-btn">Book appoitment</button>
    </form> #}
    {{form_start(form)}}
        {{form_widget(form)}}
        <button type="submit" class="site-btn">Enregistrer {{ressourceName}}</button>
    {{form_end(form)}}
</div>